{
  "repositoryUrl": "git@gitlab.com:L-space/Types.git",
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator"
#    [ "@semantic-release/gitlab", {
#      "gitlabUrl": "https://gitlab.com",
#      "assets": [ ]
#    } ]
  ],
  "preset": "angular"
}
